<template name="views_cars">
    <h1>Информация об автомобиле</h1>

    <!-- we use a form, which posts into the "dapp-form-helper-iframe" iframe, so that the browser stores inout fields for native autocpmplete -->
    <form action="about:blank" target="dapp-form-helper-iframe" autocomplete="on">
        <h3>Номер автомобиля</h3>
        <div class="row">
            <div class="col col-8 mobile-full">
                {{> dapp_addressInput placeholder="0x000000.." value=carId name="to" autofocus=true}}
            </div>
            <div class="dapp-clear-fix"></div>
        </div>
    </form>

    {{#if TemplateVar.get "loading"}}
      Пожалуйста, подождите...
    {{/if}}

    <h3>Информация</h3>
    <table id="autoInfo">
        <tr><td>Владелец</td><td>Идентификатор авто</td><td>История обслуживания скрыта</td></tr>
            {{#each auto in TemplateVar.get "autos"}}
               <tr><td>{{auto.owner}}</td><td>{{auto.autoId}}</td><td>{{auto.historyShowed}}</td></tr>
            {{/each}}
    </table>
    <h3>История обслуживания</h3>
    <table>
        <tr><td>Реестр</td><td>Исполнитель</td><td>Рейтинг исполнителя</td><td>Услуга</td><td>Примечание</td><td>Дата</td></tr>
        {{#each services in TemplateVar.get "services"}}
        <tr><td>{{services.registry}}</td><td>{{services.name}}</td><td>{{services.rating}}</td>
            <td>{{services.service}}</td><td>{{services.comment}}</td><td>{{services.date}}</td></tr>
        {{/each}}
    </table>
</template>