<template name="layout_header">
    <nav>
        <ul>
            <li>
                <a href="{{pathFor route='registry'}}" class="{{isActiveRoute regex='registry'}}">
                    <i class="icon-list"></i>
                    <span>Реестр</span>
                </a>
            </li>
            <li>
                <a href="{{pathFor route='cars'}}" class="{{isActiveRoute regex='cars'}}">
                    <i class="icon-speedometer"></i>
                    <span>Информация об авто</span>
                </a>
            </li>
            <li>
                <a href="{{pathFor route='services'}}" class="{{isActiveRoute regex='services'}}">
                    <i class="icon-wrench"></i>
                    <span>Услуги</span>
                </a>
            </li>
            <li>
                <a href="{{pathFor route='new_machine'}}" class="{{isActiveRoute regex='new_machine'}}">
                    <i class="icon-plus"></i>
                    <span>Добавить машину</span>
                </a>
            </li>

            <li class="block-info dapp-flex-item"></li>
            <li class="wallet-balance">
                <h3>Баланс</h3>
                {{> elements_balance balance=totalBalance changeUnit=true}}
            </li>

            </ul>
    </nav>
</template>
