<template name="layout_header">
    <nav>
        <ul>
            <li>
                <a href="{{pathFor route='sign'}}" class="{{isActiveRoute regex='sign'}}">
                    <i class="icon-plus"></i>
                    <span>Sign</span>
                </a>
            </li>
            <li>
                <a href="{{pathFor route='verify'}}" class="{{isActiveRoute regex='verify'}}">
                    <i class="icon-question"></i>
                    <span>Verify</span>
                </a>
            </li>

            <li class="block-info dapp-flex-item"></li>
            <li class="wallet-balance">
                <h3>Баланс</h3>
                {{> elements_balance balance=totalBalance changeUnit=true}}
            </li>

            </ul>
    </nav>
</template>
